.section {
    margin-bottom: 80px;
}

.screenshot {
    max-height: 500px;
}

#nav-side li {
	cursor: pointer;
}

.footer {
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #000;
}